
    <!-- Wrapper Start -->
    <div id="dc-wrapper" class="dc-wrapper dc-haslayout">
        <!-- Header Start -->
        <header id="dc-header" class="dc-header dc-haslayout">
            <div class="dc-topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="dc-helpnum">
                                <span>Emergency Help!</span>
                                <a href="tel:0000120000">+91-0000120000</a>
                            </div>
                            <div class="dc-rightarea">
                                <ul class="dc-simplesocialicons dc-socialiconsborder">
                                    <li class="dc-facebook"><a href="https://www.facebook.com/" target="_blank"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                    <li class="dc-twitter"><a href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="dc-linkedin"><a href="https://www.linkedin.com/in/ranjit-kumar-das-401215211/" target="_blank"><i
                                                class="fab fa-linkedin-in"></i></a></li>
                                    <li class="dc-googleplus"><a href="https://accounts.google.com/" target="_blank"><i
                                                class="fab fa-google-plus-g"></i></a></li>
                                    <li class="dc-youtube"><a href="https://www.youtube.com/watch?v=Y9i3OIMitRQ" target="_blank"><i class="fab fa-youtube"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dc-navigationarea">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <strong class="dc-logo"><a href="Home"><img src="../../../assets/images/favicon.png"
                                        alt="company logo here"></a>Demo Company</strong>
                            <div class="dc-rightarea">
                                <nav id="dc-nav" class="dc-nav navbar-expand-lg">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                        aria-label="Toggle navigation">
                                        <i class="lnr lnr-menu"></i>
                                    </button>
                                    <div class="collapse navbar-collapse dc-navigation" id="navbarNav">
                                        <ul class="navbar-nav">
                                            <li  [routerLink]="['/Home']" routerLinkActive="dc-navactive" [routerLinkActiveOptions]="{exact: true}"  class="menu-item-has-children page_item_has_children ">
                                                <a href="Home" id="hover">Home</a>
                                                
                                            </li>
                                            <li [routerLink]="['/About']" routerLinkActive="dc-navactive" [routerLinkActiveOptions]="{exact: true}"  class="menu-item-has-children page_item_has_children ">
                                                <a id="hover">About</a>
                                               
                                            </li>
                                            <li [routerLink]="['/Contact_US']" routerLinkActive="dc-navactive" [routerLinkActiveOptions]="{exact: true}" class="menu-item-has-children page_item_has_children">
                                                <a  id="hover">Contact Us</a>
                                              
                                            </li>
                                            <li class="menu-item-has-children page_item_has_children ">
                                                <a  id="hover">Pages</a>
                                                <ul class="sub-menu">
                                                    <!-- li use arrow class="menu-item-has-children page_item_has_children" -->
                                                    <li>
                                                        <!-- <span  class="dc-dropdowarrow"><i
                                                                class="lnr lnr-chevron-right"></i></span> -->
                                                        <a href="javascript:void(0);">Article</a>
                                                        <!-- <ul class="sub-menu">
                                                            <li><a href="blog-list.html">Article List</a></li>
                                                            <li><a href="blog-grid.html">Article Grid</a></li>
                                                            <li><a href="blog-single.html">Article Single</a></li>
                                                        </ul> -->
                                                    </li>
                                                    <!-- li use arrow class="menu-item-has-children page_item_has_children" -->
                                                    <li>
                                                        <!-- <span  class="dc-dropdowarrow"><i
                                                            class="lnr lnr-chevron-right"></i></span> -->
                                                        <a href="javascript:void(0);">Search Result</a>
                                                        <!-- <ul class="sub-menu">
                                                            <li><a href="searchresultlistv1.html">Search Result List V1</a>
                                                            </li>
                                                            <li><a href="searchresultgrid.html">Search Result Grid</a></li>
                                                        </ul> -->
                                                    </li>
                                                    <li>
                                                        <a href="doctorsingle.html">Doctor Single</a>
                                                    </li>
                                                    <li>
                                                        <a href="hospitalsingle.html">Hospital Single</a>
                                                    </li>
                                                    <!-- li use arrow class="menu-item-has-children page_item_has_children" -->
                                                    <li >
                                                    <!-- <span  class="dc-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span> -->
                                                        <a href="about.html">Health Forum</a>
                                                        <!-- <ul class="sub-menu">
                                                            <li><a href="healthforum.html">Health Forum</a></li>
                                                        </ul> -->
                                                    </li>
                                                    <!-- li use arrow class="menu-item-has-children page_item_has_children" -->
                                                    <li >
                                                        <!-- <span  class="dc-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span> -->
                                                        <a href="javascript:void(0);">How It Works V1</a>
                                                        <!-- <ul class="sub-menu">
                                                            <li>
                                                                <a href="howitsworkv1.html">How It Works V1</a>
                                                            </li>
                                                        </ul> -->
                                                    </li>
                                                   <!-- li use arrow class="menu-item-has-children page_item_has_children" -->
                                                    <li> 
                                                        <!-- <span  class="dc-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span> -->
                                                        <a href="javascript:void(0);">Coming Soon</a>
                                                        <!-- <ul class="sub-menu">
                                                            <li><a href="commingsoonV1.html">Comming Soon V1</a></li>
                                                        </ul> -->
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                                <div class="dc-loginarea">
                                    <div class="dc-loginoption">
                                        <a (click)="login()" id="dcLoginbtn" ><span>Login</span></a>
                                        <div class="dc-loginformhold">
                                            <div class="dc-loginheader">
                                                <span>Login</span>
                                                <a href="javascript:;"><i class="fa fa-times"></i></a>
                                            </div>
                                            <form class="dc-formtheme dc-loginform do-login-form">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <input type="text" name="name" class="form-control"
                                                            placeholder="Username">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="password" name="password" class="form-control"
                                                            placeholder="Password">
                                                    </div>
                                                    <div class="dc-logininfo">
                                                        <span class="dc-checkbox">
                                                            <input id="dc-login" type="checkbox" name="rememberme">
                                                            <label for="dc-login">Keep me logged in</label>
                                                        </span>
                                                        <a href="javascript:;" class="dc-btn do-login-button">Login</a>
                                                    </div>
                                                </fieldset>
                                                <div class="dc-loginfooterinfo">
                                                    <a href="javascript:;" class="dc-forgot-password">Forgot password?</a>
                                                    <a href="javascript:void(0);">Create account</a>
                                                </div>
                                            </form>
                                            <form class="dc-formtheme dc-loginform do-forgot-password-form dc-hide-form">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <input type="email" name="email" class="form-control get_password"
                                                            placeholder="Email">
                                                    </div>
    
                                                    <div class="dc-logininfo">
                                                        <a href="javascript:;" class="dc-btn do-get-password">Get
                                                            Pasword</a>
                                                    </div>
                                                </fieldset>
                                                <div class="dc-loginfooterinfo">
                                                    <a href="javascript:void(0);" class="dc-show-login">Login</a>
                                                    <a href="javascript:void(0);">Create account</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <a (click)="OpenDilog(content)" class="dc-btn">Join Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->
    </div>
    <!-- Wrapper End -->

    <!-- Modal Pop Start -->
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" style="font-size: x-large;font-family: cursive; margin-left: auto;">JOIN NOW</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <form name="JOIN_NOW" #JOIN_NOW="ngForm" novalidate>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="control-label">Your Name<sup class="text-danger">*</sup></label>
                        <input class="form-control" type="text" placeholder="Your Name" name="Name" #Name="ngModel"
                            [(ngModel)]="Objjoin.Name"[ngClass]="{'is-invalid': JOINSubmitted && Name.errors?.required}"required>
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label">Mobile No<sup class="text-danger">*</sup></label>
                        <input class="form-control" type="number" placeholder="Your Mobile No" name="Mobile_No" #Mobile_No="ngModel"
                            [(ngModel)]="Objjoin.Mobile_No"[ngClass]="{'is-invalid': JOINSubmitted && Mobile_No.errors?.required}"required>
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label">Email<sup class="text-danger">*</sup></label>
                        <input class="form-control" type="text" placeholder="Your Email" name="Email" #Email="ngModel"
                            [(ngModel)]="Objjoin.E_Mail"[ngClass]="{'is-invalid': JOINSubmitted && Email.errors?.required}"required>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="join(JOIN_NOW.form.valid)">Send</button>
        </div>
    </ng-template>
    <!-- Modal Pop End -->