<div id="dc-wrapper" class="dc-wrapper dc-haslayout">
    <!-- Footer Start -->
    <footer id="dc-footer" class="dc-footer dc-haslayout">
        <div class="dc-footertopbar">
            <div class="container">
                <div class="row justify-content-center align-self-center">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2">
                        <div class="dc-footer-call-email">
                            <div class="dc-callinfoholder">
                                <figure class="dc-callinfoimg">
                                    <img src="assets/images/footer/img-01.png" alt="img description">
                                </figure>
                                <div class="dc-callinfocontent">
                                    <h3><span>Emergency Call</span> <a >+91-0000120000</a></h3>
                                </div>
                            </div>
                            <div class="dc-callinfoholder dc-mailinfoholder">
                                <figure class="dc-callinfoimg">
                                    <img src="assets/images/footer/img-02.png" alt="img description">
                                </figure>
                                <div class="dc-callinfocontent">
                                    <h3><span>24/7 Email Support</span> <a href="mailto:info@testdemo.com">info@testdemo.com</a>
                                    </h3>
                                </div>
                            </div>
                            <span class="dc-or-text">- OR -</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dc-fthreecolumns">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 float-left">
                        <div class="dc-fcol dc-widgetcontactus">
                            <strong class="dc-logofooter"><a href="Home" style="font-size: 28px;font-family: inherit;color: white;"><img src="assets/images/flogo.png"
                                        alt="company logo here">DEMO COMPANY</a></strong>
                            <div class="dc-footercontent">
                                <div class="dc-description">
                                    <p>Paragraphs are blocks of textual content that segment out a larger piece of writing stories, novels, articles, creative
                                    writing, or professional writing portions making it less complicated to read and understand.</p>
                                </div>
                                <ul class="dc-footercontactus">
                                    <li>
                                        <address><i class="lnr lnr-location"></i> 123 New Street, New town Kolkata 700156</address>
                                    </li>
                                    <li><a href="mailto:info@testdemo.com"><i class="lnr lnr-envelope"></i> info@testdemo.com</a>
                                    </li>
                                    <li><span><i class="lnr lnr-phone-handset"></i> (+91) 99384 17520</span></li>
                                </ul>
                                <div class="dc-fsocialicon">
                                    <ul class="dc-simplesocialicons">
                                        <li class="dc-facebook"><a href="https://www.facebook.com/" target="_blank"><i
                                                    class="fab fa-facebook-f"></i></a></li>
                                        <li class="dc-twitter"><a href="https://twitter.com/?lang=en" target="_blank"><i
                                                    class="fab fa-twitter"></i></a></li>
                                        <li class="dc-linkedin"><a href="https://www.linkedin.com/in/ranjit-kumar-das-401215211/" target="_blank"><i
                                                    class="fab fa-linkedin-in"></i></a></li>
                                        <li class="dc-googleplus"><a href="https://accounts.google.com/" target="_blank"><i
                                                    class="fab fa-google-plus-g"></i></a></li>
                                        <li class="dc-rss"><a href="javascript:void(0);"><i class="fas fa-rss" target="_blank"></i></a></li>
                                        <li class="dc-youtube"><a href="https://www.youtube.com/watch?v=Y9i3OIMitRQ" target="_blank"><i
                                                    class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 float-left">
                        <div class="dc-fcol dc-flatestad">
                            <div class="dc-ftitle">
                                <h3>Twitter Live Feed</h3>
                            </div>
                            <div class="dc-footercontent">
                                <ul class="dc-livefeeddetails">
                                    <li>
                                        <figure class="dc-latestadimg">
                                            <img src="assets/images/footer/img-03.png" alt="img description">
                                        </figure>
                                        <div class="dc-latestadcontent">
                                            <p>Re-discover yourself<em>@Exploring</em> <span>Consectetur</span> <a
                                                   href="https://twitter.com/?lang=en" target="_blank">#adipisicing</a></p>
                                            <time datetime="2018-12-12">11:39 AM - June 27, 2023</time>
                                        </div>
                                    </li>
                                    <li>
                                        <figure class="dc-latestadimg">
                                            <img src="assets/images/footer/img-04.png" alt="img description">
                                        </figure>
                                        <div class="dc-latestadcontent">
                                            <p>Admonster <em>@admonster772</em> <span>This small intimate</span> <a
                                                    href="https://twitter.com/?lang=en" target="_blank">@intimate</a> <span>incididunt</span> <a
                                                    href="https://twitter.com/?lang=en" target="_blank">#creative juices flowing.</a></p>
                                            <time datetime="2018-12-12">11:39 AM - June 27, 2023</time>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 float-left">
                        <div class="dc-fcol dc-newsletterholder">
                            <div class="dc-ftitle">
                                <h3>Twitter Live Feed</h3>
                            </div>
                            <div class="dc-footercontent dc-newsletterholder">
                                <div class="dc-description">
                                    <p>Important form of writing as we write almost everything in paragraphs, be it an answer, essay, story, emails, etc.</p>
                                </div>
                                <form class="dc-formtheme dc-formnewsletter">
                                    <fieldset>
                                        <div class="form-group">
                                            <input type="email" name="email" value="" class="form-control"
                                                placeholder="Enter Your Email" required="">
                                            <button type="reset"><i class="lnr lnr-arrow-right"></i></button>
                                        </div>
                                    </fieldset>
                                </form>
                                <div class="dc-footerapps">
                                    <div class="dc-ftitle">
                                        <h3>Download Mobile App</h3>
                                    </div>
                                    <ul class="dc-btnapps">
                                        <li><a href="https://www.apple.com/in/app-store/" target="_blank"><img src="assets/images/footer/img-05.png"
                                                    alt="img description"></a></li>
                                        <li><a href="https://play.google.com/store/games?hl=en-IN" target="_blank"><img src="assets/images/footer/img-06.png"
                                                    alt="img description"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dc-footerbottom">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12">
                        <p class="dc-copyright">Copyrights © 2023 by <span>Test Technology Pvt. Ltd.</span> All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
</div>
