<div id="dc-wrapper" class="dc-wrapper dc-haslayout">

    <!-- Home Banner Start Serch Bar fillter optional -->
    <div class="dc-innerbanner-holder dc-haslayout">
        
        <!-- <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="dc-innerbanner">
                        <form class="dc-formtheme dc-form-advancedsearch dc-innerbannerform">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" name="search" class="form-control"
                                        placeholder="Search doctors, clinics, hospitals, etc.">
                                </div>
                                <div class="form-group">
                                    <div class="dc-select">
                                        <select class="chosen-select locations" data-placeholder="Country"
                                            name="locations">
                                            <option value="Location">Location*</option>
                                            <option value="India">India</option>
                                            <option value="United State">United State</option>
                                            <option value="Canada">Canada</option>
                                            <option value="England">England</option>
                                            <option value="Switzerland">Switzerland</option>
                                            <option value="New Zealand">New Zealand</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="dc-btnarea">
                                    <a href="javascript:void(0);" class="dc-btn">Search</a>
                                </div>
                            </fieldset>
                        </form>
                        <a href="javascript:void(0);" class="dc-docsearch"><span class="dc-advanceicon"><i></i> <i></i>
                                <i></i></span><span>Advanced <br>Search</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="dc-advancedsearch-holder">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="dc-advancedsearchs">
                            <form class="dc-formtheme dc-form-advancedsearchs">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="dc-select">
                                            <select>
                                                <option value="Availability">Availability</option>
                                                <option value="Availability">morning</option>
                                                <option value="Availability">evening</option>
                                                <option value="Availability">night</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="dc-select">
                                            <select>
                                                <option value="Fee">Consultation Fee</option>
                                                <option value="Fee">&#8377; 200</option>
                                                <option value="Fee">&#8377; 400</option>
                                                <option value="Fee">&#8377; 1000</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="dc-typeoptions">
                                            <span>Type:</span>
                                            <div class="dc-select">
                                                <select>
                                                    <option value="Show">Show All</option>
                                                    <option value="Show">Neurosurgeon</option>
                                                    <option>Dermatologists</option>
                                                    <option>Gastroenterologists</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <span class="dc-checkbox">
                                            <input id="dc-show" type="checkbox" name="show">
                                            <label for="dc-show">Show Nearest Only</label>
                                        </span>
                                    </div>
                                    <div class="dc-btnarea">
                                        <a href="javascript:void(0);" class="dc-btn dc-resetbtn">Reset Filters</a>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

    <!-- Home Banner End Serch Bar fillter optional -->
    <!-- breadcrumbarea start -->
    <div class="dc-breadcrumbarea">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ol class="dc-breadcrumb">
                        <li><strong>About</strong></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbarea End -->

    <!-- Main Start -->
    <main id="dc-main" class="dc-main dc-haslayout">
        <!-- About Welcome Start -->
        <section class="dc-main-section dc-haslayout">
            <div class="container">
                <div class="row">
                    <div class="dc-aboutstep">
                        <div class="col-xs-12 col-sm-12 col-md-10 push-md-1 col-lg-10 push-lg-1 float-left">
                            <div class="dc-sectionhead dc-sectionheadvtwo">
                                <div class="dc-sectiontitle">
                                    <h2>Make a Smart Choice<span>Take a Right Step For Your Life</span></h2>
                                </div>
                                <div class="dc-description">
                                    <p>Every business has an origin story worth telling, and usually, one that justifies why you even do business and have
                                    clients.Some centennial enterprises have pages of content that can fit in this section, while startups can tell the story of how
                                    the company was born, its challenges, and its vision for the future.</p>
                                </div>
                            </div>
                        </div>
                        <div class="dc-welcome-holder">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 float-left">
                                <div class="dc-welcomecontent">
                                    <figure class="dc-welcomeimg"><img src="../../../assets/images/welcome/img-01.jpg"
                                            alt="img description"></figure>
                                    <div class="dc-title">
                                        <h3><span>Search Best Online</span>Professional</h3>
                                    </div>
                                    <div class="dc-description">
                                        <p>Reviews, client logos, case studies, and results bring consistency to your About Us page. It’s what really proves what
                                        you are saying is real and the impact you can bring to future clients.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 float-left">
                                <div class="dc-welcomecontent">
                                    <figure class="dc-welcomeimg"><img src="../../../assets/images/welcome/img-02.jpg"
                                            alt="img description"></figure>
                                    <div class="dc-title">
                                        <h3><span>Get Instant</span>Appointment</h3>
                                    </div>
                                    <div class="dc-description">
                                        <p>Their About Us page stands out by showcasing some of their unique and creative projects.
                                            No number of words could hope to tell one of their potential clients nearly as much as these
                                             pictures can.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 float-left">
                                <div class="dc-welcomecontent">
                                    <figure class="dc-welcomeimg"><img src="../../../assets/images/welcome/img-03.jpg"
                                            alt="img description"></figure>
                                    <div class="dc-title">
                                        <h3><span>Leave Your</span>Feedback</h3>
                                    </div>
                                    <div class="dc-description">
                                        <p>Wouldn't it be easier if you could look at About Us page examples to create a killer About Us page? Well, truth be told,
                                        there are a few organizations out there with astounding "About Us" pages, the components of which you can imitate on
                                        your own site.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Welcome End !-->
        <!-- Works Section Start -->
        <section class="dc-haslayout">
            <div class="dc-haslayout dc-bgcolor dc-main-section dc-workholder">
            </div>
            <div class="dc-haslayout dc-main-section dc-workdetails-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="dc-workdetails">
                                <div class="dc-workdetail">
                                    <figure>
                                        <img src="../../../assets/images/work-icon/img-01.png" alt="img description">
                                    </figure>
                                </div>
                                <div class="dc-title">
                                    <span>Search Best Online</span>
                                    <h3>Professional</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="dc-workdetails dc-workdetails-border">
                                <div class="dc-workdetail">
                                    <figure>
                                        <img src="../../../assets/images/work-icon/img-02.png" alt="img description">
                                    </figure>
                                </div>
                                <div class="dc-title">
                                    <span>SGet Instant</span>
                                    <h3>Appointment</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="dc-workdetails dc-workdetails-bordertwo">
                                <div class="dc-workdetail">
                                    <figure>
                                        <img src="../../../assets/images/work-icon/img-03.png" alt="img description">
                                    </figure>
                                </div>
                                <div class="dc-title">
                                    <span>Leave Your</span>
                                    <h3><a (click)="OpenDilog(content)" class="hover">Feedback</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Works Section End -->
        <!-- Our Team Start -->
        <section class="dc-haslayout dc-main-section">
            <div class="container">
                <div class="row justify-content-center align-self-center">
                    <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-8 push-lg-2">
                        <div class="dc-sectionhead dc-text-center">
                            <div class="dc-sectiontitle">
                                <h2><span>Talent Behind Curtain</span>Meet <em>Our Team</em></h2>
                            </div>
                            <div class="dc-description">
                                <p>"Adding a “Meet the Team” page or section to your website is an easy, effective way to give your business an accessible
                                face.This also gives prospects an idea of who exactly they’ll be working with and shows potential employees that you’re
                                proud of the people on your team.For inspiration, see how these companies introduce visitors to their most important
                                creative assets: their people.</p>
                            </div>
                        </div>
                    </div>
                    <div class="dc-ourteamholder">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
                            <div class="dc-ourteam" *ngFor="let item of CeolevleDetails">
                                <figure class="dc-ourteamimg"><img src="{{item.Img_path}}"
                                        alt="img description"></figure>
                                <div class="dc-ourteamcontent">
                                    <div class="dc-title">
                                        <a href="javascript:void(0)">{{item.Levle}}</a>
                                        <h3><a href="javascript:void(0);">{{item.Name}}</a></h3>
                                    </div>
                                    <ul class="dc-simplesocialicons dc-socialiconsborder">
                                        <li class="dc-facebook"><a href="https://www.facebook.com/" target="_blank"><i
                                                    class="fab fa-facebook-f"></i></a></li>
                                        <li class="dc-twitter"><a href="javascript:void(0);"><i
                                                    class="fab fa-twitter"></i></a></li>
                                        <li class="dc-linkedin"><a href="https://www.linkedin.com/in/ranjit-kumar-das-401215211/" target="_blank"><i
                                                    class="fab fa-linkedin-in"></i></a></li>
                                        <li class="dc-googleplus"><a href="javascript:void(0);"><i
                                                    class="fab fa-google-plus-g"></i></a></li>
                                        <li class="dc-youtube"><a href="javascript:void(0);"><i
                                                    class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
                            <div class="dc-ourteam">
                                <figure class="dc-ourteamimg"><img src="../../../assets/images/ourteam/img-01.jpg"
                                        alt="img description"></figure>
                                <div class="dc-ourteamcontent">
                                    <div class="dc-title">
                                        <a href="javascript:void(0)">Marketing Manager</a>
                                        <h3><a href="javascript:void(0);">Lawerence Scarborough</a></h3>
                                    </div>
                                    <ul class="dc-simplesocialicons dc-socialiconsborder">
                                        <li class="dc-facebook"><a href="https://www.facebook.com/" target="_blank"><i
                                                    class="fab fa-facebook-f"></i></a></li>
                                        <li class="dc-twitter"><a href="javascript:void(0);"><i
                                                    class="fab fa-twitter"></i></a></li>
                                        <li class="dc-linkedin"><a href="https://www.linkedin.com/in/ranjit-kumar-das-401215211/" target="_blank"><i
                                                    class="fab fa-linkedin-in"></i></a></li>
                                        <li class="dc-googleplus"><a href="javascript:void(0);"><i
                                                    class="fab fa-google-plus-g"></i></a></li>
                                        <li class="dc-youtube"><a href="javascript:void(0);"><i
                                                    class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
                            <div class="dc-ourteam">
                                <figure class="dc-ourteamimg"><img src="../../../assets/images/ourteam/img-03.jpg"
                                        alt="img description"></figure>
                                <div class="dc-ourteamcontent">
                                    <div class="dc-title">
                                        <a href="javascript:void(0)">Administrator</a>
                                        <h3><a href="javascript:void(0);">Lucien Grindstaff</a></h3>
                                    </div>
                                    <ul class="dc-simplesocialicons dc-socialiconsborder">
                                        <li class="dc-facebook"><a href="https://www.facebook.com/" target="_blank"><i
                                                    class="fab fa-facebook-f"></i></a></li>
                                        <li class="dc-twitter"><a href="javascript:void(0);"><i
                                                    class="fab fa-twitter"></i></a></li>
                                        <li class="dc-linkedin"><a href="https://www.linkedin.com/in/ranjit-kumar-das-401215211/" target="_blank"><i
                                                    class="fab fa-linkedin-in"></i></a></li>
                                        <li class="dc-googleplus"><a href="javascript:void(0);"><i
                                                    class="fab fa-google-plus-g"></i></a></li>
                                        <li class="dc-youtube"><a href="javascript:void(0);"><i
                                                    class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Our Team End -->

        <!-- Emerging Clients Start -->
        <section class="dc-haslayout dc-main-section">
            <div class="container">
                <div class="row justify-content-center align-self-center">
                    <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-8 push-lg-2">
                        <div class="dc-sectionhead dc-text-center">
                            <div class="dc-sectiontitle">
                                <h2><span>We Are Proud of Our Clients</span>Emerging <em>Clients</em></h2>
                            </div>
                            <div class="dc-description">
                                <p>Lorem ipsum dolor amet consectetur adipisicing eliteiuim sete eiusmod tempor
                                    incididunt ut labore etnalom dolore magna aliqua udiminimate veniam quis norud.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
                        <div class="dc-clientslogo">
                            <ul>
                                <li><a href="javascript:void(0);"><img src="../../../assets/images/clients-logos/img-01.png"
                                            alt="img description"></a></li>
                                <li><a href="javascript:void(0);"><img src="../../../assets/images/clients-logos/img-02.png"
                                            alt="img description"></a></li>
                                <li><a href="javascript:void(0);"><img src="../../../assets/images/clients-logos/img-03.png"
                                            alt="img description"></a></li>
                                <li><a href="javascript:void(0);"><img src="../../../assets/images/clients-logos/img-04.png"
                                            alt="img description"></a></li>
                                <li><a href="javascript:void(0);"><img src="../../../assets/images/clients-logos/img-05.png"
                                            alt="img description"></a></li>
                                <li><a href="javascript:void(0);"><img src="../../../assets/images/clients-logos/img-06.png"
                                            alt="img description"></a></li>
                                <li><a href="javascript:void(0);"><img src="../../../assets/images/clients-logos/img-07.png"
                                            alt="img description"></a></li>
                                <li><a href="javascript:void(0);"><img src="../../../assets/images/clients-logos/img-08.png"
                                            alt="img description"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Emerging Clients End -->
    </main>
    <!-- Main End -->
</div>

<!-- Modal Pop Start -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" style="font-size: x-large;font-family: cursive; margin-left: auto;">FEED BACK</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form name="Feed_Back" #Feed_Back="ngForm" novalidate>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="control-label">Feed Back<sup class="text-danger"></sup></label>
                    <textarea class="form-control" type="text"  name="Feed_Back" #Feed_Back="ngModel"
                        [(ngModel)]="Feed_Backkkk"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="FeeedBack()">Send</button>
    </div>
</ng-template>
<!-- Modal Pop End -->
